@import './variables';
@import './functions';

body{
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    @include colorGroup($textBright,$backgroundBright);
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    background-image: url('../assets/background.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    min-height:100vh;
    height:100%;
}


.city-container,.daily-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .daily-card.card{
        min-width:250px;
    }
}


//card
.daily-card.card{
    border:none;
    background-color: rgba(0,0,0,0.3);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin-top: 50px;
}

.daily-card .card-title{
    font-size: 45px;
}

.daily-card .card-subtitle{
    font-size: 15px;
    font-style: italic;
    color:$textColor;
}

.daily-card img{
    width:150px;
    padding-bottom:25px;
}

.daily-card__subtitle{
    text-transform: uppercase;
}



//weekly component

.weekly-component {
    margin-top:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .btn{
      
        min-width:250px;
        background-color: $backgroundColor;
        color:$textDark;
        text-transform:uppercase;
        font-weight:700;
        height:40px;
        margin:10px 0px;
        border:none;
    
    }
    
}


.weekly-container{
    display:flex; 
    margin-bottom:50px;
    margin-top:20px;
    justify-content: center;
    .daily-card.card{
        min-width:100px;
    }
}



.weekly-container img{
    width:50px;
    padding-bottom:10px;

}

.weekly-container .daily-card{
    margin: 10px;
}

.weekly-container .daily-card .card-title{
    font-size: 20px;
}

//form

form{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

form .btn{
    background-color: $backgroundColor;
    color:$textDark;
    height:40px;
    margin-left:20px;
    border:none;
}

form .btn:hover{
    background-color: #ffab3cfa;
    color:$textDark;
}


form .form-control{
    height:40px;
    color:$textBright;
    background-color: rgba(24, 24, 24, 0.075);
    border:0;
    border-bottom:2px solid rgb(204, 204, 204);
    border-radius: 0;

}

form .form-control::placeholder{
    color:$textBright;
    font-style: italic;
}


form .form-control:focus{
    background-color: rgba(24, 24, 24, 0.075);   
}


@media (max-width:700px){

    .weekly-container{
        .daily-card.card{
            min-width:70px;
            margin: 0px 10px 10px 10px;
        }
    }
        
    
    .weekly-container img{
        width:25px;
        padding-bottom:10px;
    
    }
       
    .weekly-container .daily-card .card-title{
        font-size: 14px;
    }

    .weekly-container .daily-card .card-subtitle{
        font-size: 10px;
    }
}


@media (max-width:490px){

    .weekly-container{
        .daily-card.card{
            min-width:70px;
    }
}

    .weekly-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        grid-auto-rows: auto;

        grid-gap: 0.5rem;
    }
              
    .weekly-container .daily-card .card-title{
        font-size: 12px;
    }

    .weekly-container .daily-card .card-subtitle{
        font-size: 8px;
    }
}

@media (max-width:370px){

    form{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: auto;
        grid-gap: 0.5rem;
    }

    form {
        .btn{
            max-width:250px;
            margin-left:60px;
            margin-right:60px;
    
        }

        input::placeholder{
          text-align: center;
        }

    }

}